<html>
    <head>
        <title>Jaaeun's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Workshop</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hallo Djangogirls! welcome to this wonderful workshop!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>And my humble blog. thanks!</p>
        </div>
    </body>
</html>
